@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Inter", sans-serif;
    }

    body {
        background-color: #ffffff;
        overflow-x: hidden;
    }
}

@layer components {
    .input-box {
        @apply w-full text-sm border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
    }
    
    .btn-primary {
        @apply w-full bg-sky-400 text-white p-2 rounded my-1 hover:bg-blue-600;
    }

    .icon-btn {
        @apply text-xl text-slate-300 cursor-pointer hover:text-blue-500
    }

    .input-label {
        @apply text-xs text-slate-400
    }

    .darkTheme {
        @apply bg-gray-600 text-white
    }
    
    .lightTheme {
        @apply bg-gray-200 text-black
    }
}

